{% extends "learn_logs/base.html" %}

{% block header %}
    <h1>Topics</h1>
{% endblock %}

{% block content %}
    <div class="col-md-15">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Topic</th>
                <th>Operate</th>
            </tr>
            </thead>
            <tbody>
            {% for topic in topics %}
                <tr>
                    <td>
                        {% if errors %}
                            <a style="color: red;">{{ errors }}</a>
                        {% else %}
                            <a href="{% url 'learn_logs:topic' topic.id %}">{{ topic }}</a>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'learn_logs:del_topic' topic.id %}" class="label label-danger" >Delete</a></td>
                    <td><a class="label label-primary" >edit</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td><a>No topics have been added yet.</a></td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h3><a class="btn btn-primary" href="{% url 'learn_logs:new_topic' %}">Add new topic</a></h3>
{% endblock content %}
